<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img id="foto" src="../../../assets/foto.jpg">
        <i class="fa-solid fa-pen-line"></i>
    </div>   
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4 acercademi">
        <h1>Lilén Riquelme</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 acercademi">
        <span>
            <h1>Acerca de mí<i class="fa-solid fa-pen-line"></i></h1> 
            <p>Soy estudiante de programación, soy dedicada, confiable, organizada y responsable. 
            <br>Hice cursos para capacitarme dentro del área IT. 
            <br>Busco mejorar mis conocimientos y capacidades</p>
        </span>
    </div>
</div>
