<div class="row">
    <hr>
    <h1>Hard & Soft Skills</h1> <i class="fa-solid fa-pen-line"></i>
    <p>DURAS</p> 
    <div class="text-center col-lg-3">
        <circle-progress
            [percent]="30"
            [radius]="60"
            [space]="-2"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [outerStrokeColor]=" '#2B1EC3' "
            [outerStrokeGradientStopColor]="'#53a9ff' "
            [innerStrokeColor]=" 'white' "
            [innerStrokeWidth]="8"
            [animationDuration]="1000"
            [clockwise]="false"
            [showSubtitle]="false"
            [titleColor]="'white'"
            [unitsColor]="'white'"
            [imageSrc]="'../assets/c.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50">
        </circle-progress> 
    </div> 
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/c++.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress> </div> 
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/cchart.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress> </div>
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/css.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress> </div>
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/html.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress></div>  
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/java.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress></div>  
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/js.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress> </div> 
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/sql.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress>  </div>
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="60"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [unitsColor]="'white'"
        [imageSrc]="'../assets/vb.jpg'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50">
    </circle-progress> </div> 
    <p>BLANDAS</p> 
    <div class="text-center col-lg-3"><circle-progress
        [percent]="100"
        [radius]="100"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [showUnits]="false"
        [title]="'Compañerismo'">
    </circle-progress>  </div>
    <p>INGLES</p> 
    <div class="text-center col-lg-3"><circle-progress
        [percent]="30"
        [radius]="100"
        [space]="-2"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]=" '#2B1EC3' "
        [outerStrokeGradientStopColor]="'#53a9ff' "
        [innerStrokeColor]=" 'white' "
        [innerStrokeWidth]="8"
        [animationDuration]="1000"
        [clockwise]="false"
        [showSubtitle]="false"
        [titleColor]="'white'"
        [showUnits]="false"
        [title]="''">
    </circle-progress>  </div>
</div>
