<div class="row">
    <hr>
    <h1>Estudios complementarios</h1> <i class="fa-solid fa-pen-line"></i>
    <div class="education">
        <p><img class="codoacodo" src="../../../assets/codoacodo.jpg">
            <b>CODO A CODO</b><br>
            Python-Front End. 2021</p>
        <p><img class="polotic" src="../../../assets/polotic.jpg">
            <b>POLOTIC</b><br>
            Inglés para desarrollo de software. 2021</p>
        <p><img class="cilsa" src="../../../assets/cilsa.jpg">
            <b>CILSA</b><br>
             Operador de PC (paquete office). 2021</p>
        <p><img class="unlz" src="../../../assets/unlz.jpg">
            <b>UNIVERSIDAD DE LOMAS DE ZAMORA</b><br>
            Lengua de señas nivel 1. 2022</p>
    </div>
</div>
