<div class="row">
    <hr>
    <h1>Educación<i class="fa-solid fa-pen-line"></i></h1> 
    <div class="education">
        <p><img class="unlz" src="../../../assets/unlz.jpg">
            <b>UNIVERSIDAD DE LOMAS DE ZAMORA, BUENOS AIRES</b><br>
            Universitario en curso: Tecnicatura en programación de computadores. 2020 – actual</p>
        <p><img class="eem3" src="../../../assets/eem3.jpg">              
            <b>E.E.M. N°3, BAHÍA BLANCA, BUENOS AIRES</b>
            <br>Secundario completo: Bachillerato con orientación en Ciencias Sociales. 2016</p>
    </div>
</div>

