hr {
    background-color: white;
  }
.row{
    padding: 15px;
}
div{
    background-color: black;
    color: white;
}
.unlz{
    width: 50px;
    height: 70px;
}
.eem3{
    width: 70px;
    height: 70px;
}
.education{
    padding-left: 50px;
}
