<div class="row">
    <hr>
    <h1>Proyectos</h1> <i class="fa-solid fa-pen-line"></i>
    <div class="proyect">
        <h3>Sistema de presupuestos</h3>
        <p>Año de realización: 2022</p>
        <p>Este es un sistema de gestión de presupuestos, en el que se pueden crear presupuestos y acomodar de diferentes maneras, también tenemos una mesa de ayuda donde ingresan consultas, y tenemos un abm de servicios, y un alta y baja de empleados</p>
        <a href="http://www.jace-si.com/mesadeayuda/">www.jace-si.com/mesadeayuda/</a><br>
        <img src="../../../assets/JACE-SI.png" id="jsi" class="img-fluid">
    </div>
    <div class="container proyect">
        <h3>Portfolio</h3>
        <p>Año de realización:  2022</p>
        <p>Este es mi curriculum digital</p>
        <a href="">www</a><br>
    </div>
</div>
